<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
.yhk-m-main{width:360px; height:100%; min-height:30px; height:auto !important; line-height:40px; border:1px solid #CCC; font-size:12px;}
.yhk-m-td1{width:35%; text-align:right;}
.yhk-m-td2{width:65%;}
.yhk-m-input{width:150px; height:20px; border:1px solid #CCC;}
input:hover{ border:1px solid #24B1E8;}
.yhk-m-select{width:150px; height:25px; border:1px solid #CCC; color:}
select:hover{ border:1px solid #24B1E8;}
</style>
</head>

<body>
<div class="yhk-m-main">
	<table cellpadding="0" cellspacing="0" width="100%;">
    	<tr>
        	<td class="yhk-m-td1">银行卡号：</td>
            <td class="yhk-m-td2"><input type="text" class="yhk-m-input" /></td>
        </tr>
        <tr>
        	<td class="yhk-m-td1">开户姓名：</td>
            <td class="yhk-m-td2"><input type="text" class="yhk-m-input" /></td>
        </tr>
        <tr>
        	<td class="yhk-m-td1">添加日期：</td>
            <td class="yhk-m-td2"><input type="text" class="yhk-m-input" /></td>
        </tr>
        <tr>
        	<td class="yhk-m-td1">第二密码：</td>
            <td class="yhk-m-td2"><input type="text" class="yhk-m-input" /></td>
        </tr>
        <tr>
        	<td class="yhk-m-td1">　开户行：</td>
            <td class="yhk-m-td2">
            	<select class="yhk-m-select">
                	<option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </td>
        </tr>
        <tr>
        	<td class="yhk-m-td1">开户城市：</td>
            <td class="yhk-m-td2"><input type="text" class="yhk-m-input" /></td>
        </tr>
        <tr>
        	<td class="yhk-m-td1">开户省份：</td>
            <td class="yhk-m-td2"><input type="text" class="yhk-m-input" /></td>
        </tr>
        <tr>
        	<td class="yhk-m-td1">开户支行：</td>
            <td class="yhk-m-td2"><input type="text" class="yhk-m-input" /></td>
        </tr>
    </table>
</div>

<div class="yhk-m-main" style="text-align:center;">
<label>银行卡号：</label><input type="text" class="yhk-m-input" /><br />
<label>开户姓名：</label><input type="text" class="yhk-m-input" /><br />
<label>添加日期：</label><input type="text" class="yhk-m-input" /><br />
<label>第二密码：</label><input type="text" class="yhk-m-input" /><br />
<label>　开户行：<select class="yhk-m-select"><option value="1">1</option><option value="2">2</option></select><br />
<label>开户城市：</label><input type="text" class="yhk-m-input" /><br />
<label>开户省份：</label><input type="text" class="yhk-m-input" /><br />
<label>开户支行：</label><input type="text" class="yhk-m-input" />
</div>
</body>
</html>
