<div class="personInfoCon white">
    <div class="baseInfo">
        <div class="personInfo">
            <div class="icons icon-headPortrait">
                <img class="src" src="" alt=""/>
            </div>
            <p>
                <lable class="fs14">昵    称:</lable>
                <span class="fs12">一梦如是</span></br>
                <lable class="fs14">账户名:</lable>
                <span class="fs12">1301110011</span>
            </p>
            <p class="identity">
                <span class="icons icon-identityIDCard pos-rel"><span class="icons icon-done"></span></span>
                <span class="icons icon-identityPhone"></span>
                <span class="icons icon-identityBankCard"></span>
            </p>
        </div>
        <div class="personProfit">
            <ul>
                <li class="fs18 orange">昨日收益</li>
                <li class="fs18">0.00</li>
            </ul>
            <ul>
                <li class="fs18 orange">累计收益</li>
                <li class="fs18">0.00</li>
            </ul>
        </div>
    </div>
    <div class="accountInfo">
        <div class="accList fs14">
            <ul>
                <li>账户余额</li>
                <li>0.00</li>
            </ul>
            <ul>
                <li>收益资金</li>
                <li>0.00</li>
            </ul>
            <ul>
                <li>排队资金</li>
                <li>0.00</li>
            </ul>
            <ul>
                <li>
                    <lable class="w118">可购份额</lable>
                    <span>0份</span></li>
                <li>
                    <lable class="w118">平台排队资金</lable>
                    <span>0.00</span></li>
            </ul>
        </div>
        <div class="accButton fs16"><a class="subMenu orange-bg white-ft"  target="recharge.html">充值</a><a class="grey-bg" href="">提现</a></div>
    </div>
    <hr/>
    <div class="yearProfit chart">
        <p>年化收益率走势</p>

        <div></div>
    </div>
    <div class="platWage chart">
        <p>平台资金走势</p>

        <div></div>
    </div>
</div>