<div class="bankCardManageCon content">
    <div class="white">
        <h4 class="h40">绑定银行卡</h4>
        <div class="tableTop mb5">
            <div class="form button dline" data-toggle="modal" data-target="#addBankCard"><a >添加银行卡</a></div>
            <p class="lh30 fs16">温馨提示：提现资金仅能转至本人名下的银行卡。禁止套现、洗钱行为。</p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>银行类型</th>
                <th>账号</th>
                <th>户名</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>招商银行</td>
                <td>621483***********1401</td>
                <td>*晖</td>
                <td>2014-12-01</td>
                <td><a class="red mr5" href="#">删除</a><a class="blue" href="#">修改</a></td>
            </tr>
            <tr>
                <td>工商银行</td>
                <td>621483***********1401</td>
                <td>*晖</td>
                <td>2014-12-01</td>
                <td><a class="red mr5" href="#">删除</a><a class="blue" href="#">修改</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>