<div class="operationRecordCon content">
    <div class="white">
        <div class="tableTop">
            <div class="dateSelect">起止日期:
                <input type="text" value="2012-05-15 21:05" class="datetimepicker" data-date-format="yyyy-mm-dd hh:ii">
                <span>-</span>
                <input type="text" value="2012-05-15 21:05" class="datetimepicker" data-date-format="yyyy-mm-dd hh:ii">
            </div>
            <div><a href="">最近1个月</a></div>
            <div><a href="">3个月</a></div>
            <div><a href="">6个月</a></div>
        </div>
        <div class="tableTop lh20">
            <div>交易类型:</div>
            <div>全部</div>
            <div><a href="">充值</a></div>
            <div><a href="">提现</a></div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>操作</th>
                    <th>份额（元）</th>
                    <th>状态</th>
                    <th>流水号</th>
                </tr>

                </thead>
                <tbody>
                <tr>
                    <td>2014-09-12</td>
                    <td>充值</td>
                    <td>10</td>
                    <td>待支付</td>
                    <td>qcz20141105123908</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <nav>
                            <ul class="pagination fright">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </nav>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.datetimepicker').datetimepicker({
        autoclose:true
    });
</script>