<div class="personInfoManCon content">
    <div class="white">
        <h4>个人信息管理</h4>

        <form action="">
            <div>
                <label>当前头像:</label>
                <img class="src" src="../../../source/images/portrait.png" alt=""/>
            </div>
            <div>
                <label>昵&emsp;&emsp;称:</label>
                <input class="mt15" type="text" value="轻轻紫荆"/>
            </div>
            <div>
                <label>注册邮箱:</label>
                <input type="text"/>
            </div>
            <div>
                <label>绑定手机号:</label>
                <input type="text"/>
                <a class="red ml10" href="">修改绑定手机</a>
            </div>
            <div>
                <label>真实姓名:</label>
                <input type="text"/>
            </div>
            <div>
                <label>现居住地:</label>
                <select name="" id="">
                    <option value="IDCard">北京市</option>
                    <option value="">军官证</option>
                    <option value="">房产证</option>
                </select>
                <select name="" id="">
                    <option value="IDCard">海淀区</option>
                    <option value="">军官证</option>
                    <option value="">房产证</option>
                </select>
            </div>
            <div>
                <label>详细地址:</label>
                <input type="text"/>
            </div>
            <div class="form button ml84"><a href="">点击保存</a></div>
        </form>
    </div>
</div>