<div class="userCon content">
                    <div class="profitTotal">
                        <ul>
                            <li>昨日收益(元)</li>
                            <li>0.00</li>
                        </ul>
                        <ul>
                            <li>近一周收益(元)</li>
                            <li>0.00</li>
                        </ul>
                        <ul>
                            <li>近一月收益(元)</li>
                            <li>0.00</li>
                        </ul>
                        <ul>
                            <li>累计收益(元)</li>
                            <li>0.00</li>
                        </ul>
                    </div>
                    <div class="profitDay">
                        <h5>每日收益</h5>
                        <div class="tableTop">
                            <div class="dateSelect">起止日期:
                                <input type="text" value="2012-05-15 21:05" class="datetimepicker" data-date-format="yyyy-mm-dd hh:ii">
                                <span>-</span>
                                <input type="text" value="2012-05-15 21:05" class="datetimepicker" data-date-format="yyyy-mm-dd hh:ii">
                            </div>
                            <div>最近1个月</div>
                            <div>3个月</div>
                            <div>6个月</div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>金额</th>
                                    <th>类型</th>
                                    <th>当日利率</th>
                                    <th>来源</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2014-09-12</td>
                                    <td>0.27元</td>
                                    <td>利息</td>
                                    <td>14.341236%</td>
                                    <td>32家平台150个债权</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <nav>
                                            <ul class="pagination fright">
                                                <li><a href="#">&laquo;</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">6</a></li>
                                                <li><a href="#">&raquo;</a></li>
                                            </ul>
                                        </nav>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
<script type="text/javascript">
    $('.datetimepicker').datetimepicker({
        autoclose:true
    });
</script>