<div class="setPwdQuestionCon content">
    <div class="white">
        <h4>设置密保问题</h4>

        <form class="pl10 mt40" action="">
            <div class="mb15">
                <div>
                    <label>安全问题1:</label>
                    <select >
                        <option value="">问题1</option>
                        <option value="">问题1</option>
                        <option value="">问题1</option>
                    </select>
                </div>
                <div>
                    <label>答&emsp;&emsp;案1:</label>
                    <input type="text"/>
                </div>
            </div>
            <div class="mb15">
                <div>
                    <label>安全问题2:</label>
                    <select >
                        <option value="">问题2</option>
                        <option value="">问题2</option>
                        <option value="">问题2</option>
                    </select>
                </div>
                <div>
                    <label>答&emsp;&emsp;案2:</label>
                    <input type="text"/>
                </div>
            </div>
            <div class="mb15">
                <div>
                    <label>安全问题2:</label>
                    <select >
                        <option value="">问题2</option>
                        <option value="">问题2</option>
                        <option value="">问题2</option>
                    </select>
                </div>
                <div>
                    <label>答&emsp;&emsp;案3:</label>
                    <input type="text"/>
                </div>
            </div>

            <div class="form button ml84"><a href="">确认</a></div>
        </form>
    </div>
</div>