<div class="personInfoManCon content">
    <div class="white">
        <h4>设置交易密码</h4>

        <form class="pl10 mt40" action="">
            <div>
                <label>原&ensp;密&ensp;码:</label>
                <input type="password"/>
            </div>
            <div>
                <label >新&ensp;密&ensp;码:</label>
                <input type="password"/>
            </div>
            <div>
                <label >重复密码:</label>
                <input type="password"/>
            </div>
            <div class="form button ml84"><a href="">确认</a></div>
        </form>
    </div>
</div>