<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <link rel="stylesheet" href="../../../source/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../source/css/global.css"/>
    <link rel="stylesheet" href="../../../source/css/findPwd.css"/>
    <link rel="stylesheet" href="../../../source/css/validform.css"/>

    <!--<link type="text/css" href="../../test/style.css" rel="stylesheet">-->
    <script src="../../../source/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="../../../source/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../../source/js/index.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../../source/js/validform-5.3.2.js" charset="UTF-8"></script>
</head>
<body>
<div class="header">
    <div class="top">
        <div class="topMain">
            <div class="topCon">
                <div class="home">
                    <span class="icons icon-home"></span>
                </div>
                <div class="topLogin">
                    <span>您好！欢迎来到钱串子！</span>
                    <span>[登陆]</span>
                    <span>[免费注册]</span>
                    <span>客服电话：4000 8666 688</span>
                </div>
                <div class="share">
                    <span class="icons icon-WeChat"></span><span class="icons icon-MicroBlog"></span>
                </div>
                <div class="topEnter">
                    <span>我的账户</span>
                    <span class="brokenBar">|</span>
                    <span>帮助中心</span>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="navMain">
            <div class="navCon">
                <div class="nav-tab">
                    <a class="nav-tab">首&emsp;&emsp;页</a>
                    <a class="nav-tab">我要投资</a>
                    <a class="nav-tab">我的账户</a>
                    <a class="nav-tab">论&emsp;&emsp;坛</a>
                    <a class="nav-tab">帮&emsp;&emsp;助</a>
                    <a class="nav-tab">关于我们</a>
                </div>
            </div>
            <div class="shadow-left"></div>
            <div class="shadow-right"></div>
        </div>
    </div>
</div>
<div class="main">
    <div class="findPwd">
        <div class="findPwdMain">
            <h2>找回密码</h2>
            <hr/>
            <div class="findPwdCon">
                <ul class="nav nav-tabs">
                    <li class="step1 cur"><a href="#tab1" data-toggle="tab"><span>1</span>输入手机号/邮箱</a><div class="rightArrow"></div></li>
                    <li class="step2"><div class="leftArrow"></div><a href="#tab2" data-toggle="tab"><span>2</span>输入验证码</a><div class="rightArrow"></div></li>
                    <li class="step3"><div class="leftArrow"></div><a href="#tab2" data-toggle="tab"><span>3</span>重置密码</a></li>
                </ul>
                <div class="pwdCon">
                    <div class="firstStep ">
                        <p>请输入您在钱串子的注册手机号/邮箱</p>
                        <form class="findPwdform" action="">
                            <div>
                                <input type="text" name="validNum" placeholder="手机号/邮箱" datatype="m/e" nullmsg="不能为空！" errormsg="输入格式错误" ajaxurl="valid.php"/>
                                <span class="Validform_checktip"></span>
                            </div>
                            <div>
                                <input type="text" class="w103" name="validNum" placeholder="验证码" datatype="n6" nullmsg="验证码不能为空！" errormsg="验证码错误" ajaxurl="valid.php"/>
                                <div class="notice">24VN86</div>
                                <span class="Validform_checktip"></span>
                            </div>
                            <div class="form button ml84 next1"><a href="">下一步</a></div>
                        </form>
                    </div>
                    <div class="secondStep dNone">
                        <p>系统已经发送验证码到18600210812/fanhui918@163.com</p>

                        <p>请输入短信中的/邮箱中的验证码重置您的密码</p>

                        <form class="findPwdform" action="">
                            <div>
                                <input type="number" name="validNum" placeholder="验证码" datatype="n6" nullmsg="验证码不能为空！" errormsg="验证码错误" ajaxurl="valid.php"/>
                                <div class="notice">58秒重新发送</div>
                                <span class="Validform_checktip"></span>
                            </div>
                            <div class="form button ml84 next2"><a href="">下一步</a></div>
                            <p><a href="">通过其他方式找回密码</a></p>
                        </form>
                    </div>
                    <div class="thirdStep dNone">
                        <p>请重置您的密码</p>
                        <form class="findPwdform" action="">
                            <div>
                                <input type="password" name="userpassword0" placeholder="新密码" datatype="*6-20" nullmsg="密码不能为空！" ajaxurl="valid.php"/>
                                <span class="Validform_checktip"></span>
                            </div>
                            <div>
                                <input type="password" name="userpassword1" placeholder="确认新密码" value="" datatype="*6-20" nullmsg="密码不能为空" recheck="userpassword0" errormsg="两次密码输入不一致"/>
                                <span class="Validform_checktip"></span>
                            </div>
                            <div class="form button ml84"><a href="">提交</a></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(function(){
        $(".findPwdform").Validform({
            tiptype:3
        });
        $(".next1").on('click',function(){
            $('.step2').addClass('cur');
            $('.firstStep').addClass('dNone');
            $('.secondStep').removeClass('dNone');
        });
        $(".next2").on('click',function(){
            $('.step3').addClass('cur');
            $('.secondStep').addClass('dNone');
            $('.thirdStep').removeClass('dNone');
        });
    })
</script>
</body>
</html>