<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <link rel="stylesheet" href="../../../source/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../source/css/global.css"/>
    <link rel="stylesheet" href="../../../source/css/plateDetail.css"/>
    <link rel="stylesheet" href="../../../source/css/debt.css"/>
    <!--<link type="text/css" href="../../test/style.css" rel="stylesheet">-->
    <script src="../../../source/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="../../../source/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../../source/js/index.js" type="text/javascript"></script>
</head>
<body>
<div class="header">
    <div class="top">
        <div class="topMain">
            <div class="topCon">
                <div class="home">
                    <span class="icons icon-home"></span>
                </div>
                <div class="topLogin">
                    <span>您好！欢迎来到钱串子！</span>
                    <span>[登陆]</span>
                    <span>[免费注册]</span>
                    <span>客服电话：4000 8666 688</span>
                </div>
                <div class="share">
                    <span class="icons icon-WeChat"></span><span class="icons icon-MicroBlog"></span>
                </div>
                <div class="topEnter">
                    <span>我的账户</span>
                    <span class="brokenBar">|</span>
                    <span>帮助中心</span>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="navMain">
            <div class="navCon">
                <div class="nav-tab">
                    <a class="nav-tab">首&emsp;&emsp;页</a>
                    <a class="nav-tab">我要投资</a>
                    <a class="nav-tab">我的账户</a>
                    <a class="nav-tab">论&emsp;&emsp;坛</a>
                    <a class="nav-tab">帮&emsp;&emsp;助</a>
                    <a class="nav-tab">关于我们</a>
                </div>
            </div>
            <div class="shadow-left"></div>
            <div class="shadow-right"></div>
        </div>
    </div>
</div>
<div class="main">
    <div class="plateDetail">
        <div class="plateDetailMain">
            <div class="plateDetailCon">
                <h2>平台详情</h2>
                <hr>
                <div class="plateDetailtext">
                    <h2>鑫龙创投</h2>
                    <div class="text">
                        <ul class="text">
                            <li>
                                <ul>
                                    <li class="w157">法人代表</li>
                                    <li class="w136">充值费</li>
                                    <li class="w148"><a href="">详情</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="w157">注册资本</li>
                                    <li class="w136">管理费</li>
                                    <li class="w148"><a href="">详情</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="w157">注册地点</li>
                                    <li class="w136">提现费</li>
                                    <li class="w148"><a href="">详情</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>成立时间</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="currentDetail">
                            <p>当前</p>
                            <ul>
                                <li class="ml54">
                                    <lable>债券数：</lable>
                                    <span>14</span></li>
                                <li class="ml26">
                                    <lable>资金：</lable>
                                    <span>12,345</span></li>
                                <li class="ml17">
                                    <lable>年化收益率：</lable>
                                    <span>15.32%</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="notice">
                        <div class="safe">
                            <p>安全保障</p>
                        </div>
                        <div class="client">
                            <p>客服热线</p>
                            <p>400-667-1177</p>
                        </div>
                        <div class="currentDetail">
                            <p>当前</p>
                            <ul>
                                <li class="ml54">
                                    <lable>债券数：</lable>
                                    <span>14</span></li>
                                <li class="ml26">
                                    <lable>资金：</lable>
                                    <span>12,345</span></li>
                                <li class="ml17">
                                    <lable>年化收益率：</lable>
                                    <span>15.32%</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plateTrendCon">
                <h2>平台比例趋势图</h2>
                <hr>
                <div></div>
            </div>
            <div class="plateDetailLists">
            <div class="tabbable">
            <ul class="nav nav-tabs">
                <li><a href="#tab1" data-toggle="tab">当前债权</a></li>
                <li><a href="#tab2" data-toggle="tab">已完成债权</a></li>
                <li><a href="#tab3" data-toggle="tab">坏账</a></li>
            </ul>
            <div class="tab-content">
            <div class="debtLists tab-pane active accordion pos-rel" id="tab1">
            <div class="overH">
                <div class="select_box">
                    <input type="text" class="mr20" value="平台名称" readonly="readonly">
                    <ul class="select_ul white z" style="display: none;">
                        <div class="list overH" id="navlist">
                            <ul id="navfouce" class="overH" style="display: block;">
                                <li><a href="javascript:;" class="now">ABCDE</a></li>
                                <li><a href="javascript:;" class="">FGHIJ</a></li>
                                <li><a href="javascript:;" class="">KLMNO</a></li>
                                <li><a href="javascript:;" class="">PQRST</a></li>
                                <li><a href="javascript:;" class="">UVWXYZ</a></li>
                            </ul>
                        </div>
                        <div class="box" id="navbox" style="height: 0px; opacity: 0; overflow: hidden;display: block;">
                            <div class="cont" style="display: block;">
                                <ul class="sublist clearfix">
                                    <li>
                                        <h3 class="red"><span>A</span></h3>
                                        <ul class="cur">
                                            <li class="sel_value">安农商贷</li>
                                            <li class="sel_value">爱网贷</li>
                                            <li class="sel_value">爱贷网</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="red"><span>B</span></h3>
                                        <ul class="cur">
                                            <li class="sel_value">北方贷</li>
                                            <li class="sel_value">宝典创投</li>
                                            <li class="sel_value">帮客创投</li>
                                            <li class="sel_value">本地贷</li>
                                            <li class="sel_value">百信财富</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="red"><span>C</span></h3>
                                        <ul class="cur">
                                            <li class="sel_value">创蓉再现</li>
                                            <li class="sel_value">慈甬贷</li>
                                            <li class="sel_value">草根新贷</li>
                                            <li class="sel_value">诚意贷</li>
                                            <li class="sel_value">诚汇通</li>
                                            <li class="sel_value">财大狮</li>
                                            <li class="sel_value">车易贷</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="red"><span>D</span></h3>
                                        <ul class="cur">
                                            <li class="sel_value">丁丁贷</li>
                                            <li class="sel_value">多多智富</li>
                                            <li class="sel_value">贷发发</li>
                                            <li class="sel_value">鼎信贷</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="red"><span>E</span></h3>
                                        <ul class="cur">
                                            <li class="sel_value">e融在线</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="cont" style="display: none;">7<br>3<br>3<br>3</div>
                            <div class="cont" style="display: none;">7<br>3<br>3<br>3</div>
                            <div class="cont" style="display: none;">7<br>3<br>3<br>3</div>
                            <div class="cont" style="display: none;">7<br>3<br>3<br>37<br>3<br>3<br>3</div>
                        </div>
                    </ul>
                </div>
                <div class="select_box">
                    <input type="text" value="还款方式" readonly="readonly">
                    <ul class="select_ul cur white z" style="display: none;width: 160px;">
                        <li class="sel_value">所有还款方式</li>
                        <li class="sel_value">等额本息</li>
                        <li class="sel_value">等额本金</li>
                        <li class="sel_value">到期还本付息</li>
                        <li class="sel_value">按月付息到期还本</li>
                        <li class="sel_value">一次付息到期还本</li>
                    </ul>
                </div>
            </div>
            <div class="list accordion-group">
                <div class="image"><img class="src" src="" alt=""/></div>
                <div class="text accordion-heading">
                    <h4>某砂场股东资金周转借款第二标</h4>
                    <div class="overH">
                        <ul class="w180">
                            <li><label for="">标的类型：</label><span>恩恩呢</span></li>
                            <li><label for="">借款总额：</label><span>恩恩呢</span></li>
                            <li><label for="">原始收益率：</label><span>恩恩呢</span></li>
                        </ul>
                        <ul class="w240">
                            <li><label for="">钱串子投标金额：</label><span>恩恩呢</span></li>
                            <li><label for="">钱串子风险备用金率：</label><span>恩恩呢</span></li>
                            <li><label for="">钱串子转让收益率：</label><span>恩恩呢</span></li>
                        </ul>
                        <ul>
                            <li><label for="">还款方式：</label><span>恩恩呢</span></li>
                            <li><label for="">计息日期：</label><span>恩恩呢</span></li>
                            <li><label for="" >还款详情：</label><a class="a-spec accordion-toggle" data-toggle="collapse" data-parent="#tab1" href="#collapseOne">查看</a></li>
                        </ul>
                    </div>
                </div>
                <h5>还款进度</h5>
                <div class="processBar mb15">
                    <hr/>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="detailTotal">
                            <p>
                                <lable>贷款额: </lable>
                                <span>10,000,0</span></p>
                            <p>
                                <lable>年利率: </lable>
                                <span>15.73%</span></p>
                            <p>
                                <lable>贷款月数：</lable>
                                <span>12</span></p>
                            <p>
                                <lable>月利率：</lable>
                                <span>1.25%</span></p>
                        </div>
                        <table class="table table-striped detailTable">
                            <thead>
                            <tr class="grey-bg1">
                                <th>还款时间</th>
                                <th>月还本金</th>
                                <th>月还利息</th>
                                <th>月还本息</th>
                                <th>月末本金</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="list accordion-group">
                <div class="image"><img class="src" src="" alt=""/></div>
                <div class="text accordion-heading">
                    <h4>某砂场股东资金周转借款第二标</h4>
                    <div class="overH">
                        <ul class="w180">
                            <li><label for="">标的类型：</label><span>恩恩呢</span></li>
                            <li><label for="">借款总额：</label><span>恩恩呢</span></li>
                            <li><label for="">原始收益率：</label><span>恩恩呢</span></li>
                        </ul>
                        <ul class="w240">
                            <li><label for="">钱串子投标金额：</label><span>恩恩呢</span></li>
                            <li><label for="">钱串子风险备用金率：</label><span>恩恩呢</span></li>
                            <li><label for="">钱串子转让收益率：</label><span>恩恩呢</span></li>
                        </ul>
                        <ul>
                            <li><label for="">还款方式：</label><span>恩恩呢</span></li>
                            <li><label for="">计息日期：</label><span>恩恩呢</span></li>
                            <li><label for="" >还款详情：</label><a class="a-spec accordion-toggle" data-toggle="collapse" data-parent="#tab1" href="#collapseTwo">查看</a></li>
                        </ul>
                    </div>
                </div>
                <h5>还款进度</h5>
                <div class="processBar mb15">
                    <hr/>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="detailTotal">
                            <p>
                                <lable>贷款额: </lable>
                                <span>10,000,0</span></p>
                            <p>
                                <lable>年利率: </lable>
                                <span>15.73%</span></p>
                            <p>
                                <lable>贷款月数：</lable>
                                <span>12</span></p>
                            <p>
                                <lable>月利率：</lable>
                                <span>1.25%</span></p>
                        </div>
                        <table class="table table-striped detailTable">
                            <thead>
                            <tr class="grey-bg1">
                                <th>还款时间</th>
                                <th>月还本金</th>
                                <th>月还利息</th>
                                <th>月还本息</th>
                                <th>月末本金</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="arrow-modal-box pos-abs">
                <div class="arrow pos-rel">
                    <div class="arrow-inner pos-rel"></div>
                </div>
                <p class="first"><label for="">还款时间:</label><span>2015-11-24</span><span class="state1">(已还款)</span> <span class="state0 red dNone">(未还款)</span></p>

                <p><label for="">月还本金:</label><span>892</span></p>

                <p><label for="">月还利息:</label><span>19.02</span></p>

                <p><label for="">月还本息:</label><span>903.03</span></p>

                <p><label for="">月末本金:</label><span>11,192</span></p>
            </div>
            <div class="tRight">
                <ul class="pagination pagination-sm m0">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            </div>
            <div class="debtLists tab-pane accordion pos-rel" id="tab2">
            <div class="list accordion-group">
                <div class="image"><img class="src" src="" alt=""/></div>
                <div class="text accordion-heading">
                    <h4>某砂场股东资金周转借款第二标</h4>
                    <div class="overH">
                        <ul class="w180">
                            <li><label for="">标的类型：</label><span>恩恩呢</span></li>
                            <li><label for="">借款总额：</label><span>恩恩呢</span></li>
                            <li><label for="">原始收益率：</label><span>恩恩呢</span></li>
                        </ul>
                        <ul class="w240">
                            <li><label for="">钱串子投标金额：</label><span>恩恩呢</span></li>
                            <li><label for="">钱串子风险备用金率：</label><span>恩恩呢</span></li>
                            <li><label for="">钱串子转让收益率：</label><span>恩恩呢</span></li>
                        </ul>
                        <ul>
                            <li><label for="">还款方式：</label><span>恩恩呢</span></li>
                            <li><label for="">计息日期：</label><span>恩恩呢</span></li>
                            <li><label for="" >还款详情：</label><a class="a-spec accordion-toggle" data-toggle="collapse" data-parent="#tab1" href="#collapseOne1">查看</a></li>
                        </ul>
                    </div>
                </div>
                <h5>还款进度</h5>
                <div class="processBar mb15">
                    <hr/>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                </div>
                <div id="collapseOne1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="detailTotal">
                            <p>
                                <lable>贷款额: </lable>
                                <span>10,000,0</span></p>
                            <p>
                                <lable>年利率: </lable>
                                <span>15.73%</span></p>
                            <p>
                                <lable>贷款月数：</lable>
                                <span>12</span></p>
                            <p>
                                <lable>月利率：</lable>
                                <span>1.25%</span></p>
                        </div>
                        <table class="table table-striped detailTable">
                            <thead>
                            <tr class="grey-bg1">
                                <th>还款时间</th>
                                <th>月还本金</th>
                                <th>月还利息</th>
                                <th>月还本息</th>
                                <th>月末本金</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="list accordion-group">
                <div class="image"><img class="src" src="" alt=""/></div>
                <div class="text accordion-heading">
                    <h4>某砂场股东资金周转借款第二标</h4>
                    <div class="overH">
                        <ul class="w180">
                            <li><label for="">标的类型：</label><span>恩恩呢</span></li>
                            <li><label for="">借款总额：</label><span>恩恩呢</span></li>
                            <li><label for="">原始收益率：</label><span>恩恩呢</span></li>
                        </ul>
                        <ul class="w240">
                            <li><label for="">钱串子投标金额：</label><span>恩恩呢</span></li>
                            <li><label for="">钱串子风险备用金率：</label><span>恩恩呢</span></li>
                            <li><label for="">钱串子转让收益率：</label><span>恩恩呢</span></li>
                        </ul>
                        <ul>
                            <li><label for="">还款方式：</label><span>恩恩呢</span></li>
                            <li><label for="">计息日期：</label><span>恩恩呢</span></li>
                            <li><label for="" >还款详情：</label><a class="a-spec accordion-toggle" data-toggle="collapse" data-parent="#tab1" href="#collapseTwo1">查看</a></li>
                        </ul>
                    </div>
                </div>
                <h5>还款进度</h5>
                <div class="processBar mb15">
                    <hr/>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                    <div class="outterDot">
                        <div class="innerDot white"></div>
                    </div>
                </div>
                <div id="collapseTwo1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="detailTotal">
                            <p>
                                <lable>贷款额: </lable>
                                <span>10,000,0</span></p>
                            <p>
                                <lable>年利率: </lable>
                                <span>15.73%</span></p>
                            <p>
                                <lable>贷款月数：</lable>
                                <span>12</span></p>
                            <p>
                                <lable>月利率：</lable>
                                <span>1.25%</span></p>
                        </div>
                        <table class="table table-striped detailTable">
                            <thead>
                            <tr class="grey-bg1">
                                <th>还款时间</th>
                                <th>月还本金</th>
                                <th>月还利息</th>
                                <th>月还本息</th>
                                <th>月末本金</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            <tr>
                                <td>2014-09-12</td>
                                <td>777.6</td>
                                <td>125</td>
                                <td>902.6</td>
                                <td>9,222.5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tRight">
                <ul class="pagination pagination-sm m0">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            </div>
            <div class="platLists tab-pane" id="tab3">
               <div class="badDebt">
                   未收到相关信息
               </div>
            </div>
            </div>

            </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function(){
        //查看详情
        $(".accordion-toggle").on('click',function(event){
            var $id=$(this).attr('href');
            if($($id).hasClass('in')){
                $(this).toggleClass('in');
            }else{
                $(".accordion-body").removeClass('in');
            }
        });
        //平台名称
        var time = null;
        var list = $("#navlist");
        var box = $("#navbox");
        var lista = list.find("a");

        for(var i=0,j=lista.length;i<j;i++){
            if(lista[i].className == "now"){
                var olda = i;
            }
        }

        var box_show = function(hei){
            box.stop().animate({
                height:hei,
                opacity:1
            },400);
        }

        var box_hide = function(){
            box.stop().animate({
                height:0,
                opacity:0
            },400);
        }

        lista.hover(function(){
            lista.removeClass("now");
            $(this).addClass("now");
            clearTimeout(time);
            var index = list.find("a").index($(this));
            box.find(".cont").hide().eq(index).show();
            var _height = box.find(".cont").eq(index).height()+54;
            box_show(_height)
        },function(){
            time = setTimeout(function(){
                box.find(".cont").hide();
                box_hide();
            },50);
            lista.removeClass("now");
            lista.eq(olda).addClass("now");
        });

        box.find(".cont").hover(function(){
            var _index = box.find(".cont").index($(this));
            lista.removeClass("now");
            lista.eq(_index).addClass("now");
            clearTimeout(time);
            $(this).show();
            var _height = $(this).height()+54;
            box_show(_height);
        },function(){
            time = setTimeout(function(){
                $(this).hide();
                box_hide();
            },50);
            lista.removeClass("now");
            lista.eq(olda).addClass("now");
        });
        //进度条指示
        $('.outterDot').on('click',function(){
            $this = $(this);
            $arrowbox = $('.arrow-modal-box');
            var flag = false;
            console.log($arrowbox.offset().top-$this.offset().top+'---'+$arrowbox.offset().left)
            if($arrowbox.offset().top-$this.offset().top == '40'&& $arrowbox.offset().left == $this.offset().left){
                flag = 'true';
                $arrowbox.hide();
            }
            if(flag){
                return;
            }else{
                $innerDot = $this.children('.innerDot');
                if($innerDot.hasClass('white')){
                    $arrowbox.find('.state0').removeClass('dNone');
                    $arrowbox.find('.state1').addClass('dNone');
                }else{
                    $arrowbox.find('.state1').removeClass('dNone');
                    $arrowbox.find('.state0').addClass('dNone');
                }
                $arrowbox.offset($this.offset());
                $arrowbox.show();
                $arrowbox.css('top',parseFloat($arrowbox.css('top'))+40+'px');
                $arrowbox.css('left',parseFloat($arrowbox.css('left'))+'px');
                console.log($this.offset().top);
                console.log($arrowbox.offset().top);
            }

        });
    })();

</script>
</body>
</html>