.findPwd{
    height:460px;
    background-color: #F4F4F4;
}
.findPwdMain{
    margin: auto;
    width: 1000px;
    height: 400px;
    padding:27px 28px;
    background-color: #fff;
    position: relative;
    top:-20px;
}
.findPwdMain h2{
    font-size: 18px;
    margin: 0px;
}
.findPwdMain hr{
    margin-top: 18px;
    margin-bottom: 11px;
    border-color: #CDCECE;
}
.findPwdCon{
    padding: 0px 81px 30px 81px;
}
.findPwdMain .nav{
    min-width: inherit;
    height: 50px;
    background-color: #fff;
    border: 1px solid #E1E2E2;
}
.findPwdMain .nav li{
    height: 50px;
    width: 259.9px;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height:50px;
    color: #4EC0EC;
}
.findPwdMain .nav li span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    border: 1px solid #4EC0EC;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    margin-right: 4px;
}
.findPwdMain .nav li.cur{
    background-color: #4EC0EC;
    color: #fff;
}
.findPwdMain .nav li.cur{
    color: #fff;
}
.findPwdMain .nav li.cur span{
    border: 1px solid #fff;
}
.cur .rightArrow{
    border: transparent;
    border-left: 22px solid #4EC0EC;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -21px;
    top: 0px;
    z-index: 10;
}
.cur .leftArrow{
    border: transparent;
    border-left: 23px solid #fff;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    position: absolute;
    left: 1px;
    top: -1px;
}
.pwdCon{
    min-width: inherit;
    height: 240px;
    border: 1px solid #E1E2E2;
    margin-top: 10px;
    padding-left: 272px;
    font-size: 14px;
}
.thirdStep>p{
    margin-top: 22px;
    margin-bottom: 20px;
}
.findPwdform input{
    width: 233px;
    height: 32px;
    line-height: 32px;
    text-indent: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.findPwdform .button{
    width: 233px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    text-align: center;
    background-color: #F77151;
}
.findPwdform .button a{
    color: #fff;
}
.secondStep>p:first-child{
    margin-top: 22px;
    margin-bottom: 17px;
}
.secondStep input{
    width: 103px;
}
.secondStep .notice{
    width: 103px;
    height: 32px;
    line-height: 32px;
    background-color: #CDCECE;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    margin-left: 23px;
}
.findPwdform p{
    color: #4EC0EC;
    margin-top: 20px;
    text-indent: 95px;
}
.firstStep p{
    margin-top: 22px;
    margin-bottom: 20px;
}
.firstStep .notice{
    width: 103px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #CDCECE;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-left: 23px;
}
.findPwdform input.w103{
    width: 103px;
}
.findPwdCon .nav-tabs > li > a{
	border:0px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color:#4EC0EC;
}