*{
  margin:0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-family: "Microsoft Yahei", Arial, Helvetica;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
input,select{
    border: 1px solid #D7D8D8;
}
a:hover{
    text-decoration: none;
}
body,.header,.main,.top,.nav,.banner,.news,.product{
  width: 100%;
  min-width: 1100px;
  font-size: 20px;
}
.overH{overflow: hidden;}
.fs18{font-size: 18px;}
.fs16{font-size: 16px;}
.fs14{font-size: 14px;}
.fs12{font-size: 12px;}
.fw-no{font-weight: normal;}
.fw-b{font-weight: bold;}
.lh20{line-height: 20px !important;}
.lh30{line-height: 30px !important;}
.h40{height: 40px;}
.orange{color:#f77151; }
.red{color: #F41414;}
.blue{color: #6FC9EF;}
.white-ft{color: #fff !important;}
.orange-bg{background-color:#F77151; }
.red-bg{background-color: #D3684E;}
.blue-bg{background-color: #4EC0EC !important;}
.blue-bg2{background-color: #4CA7CA;}
.grey-bg{background-color: #F9F9F9;}
.grey-bg1{background-color: #F4F4F4;}
.fleft{float: left;}
.fright{float: right;}
.fnone{float: none;}
.dNone{display: none;}
.dBlock{display: block !important;}
.dline{display: inline-block;}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}
.m0{margin: 0px !important;}
.mb30{margin-bottom: 30px;}
.mb5{margin-bottom: 5px !important;}
.mb15{margin-bottom: 15px;}
.mb25{margin-bottom: 25px;}
.mr30{margin-right: 30px;}
.mr20{margin-right: 20px;}
.mr5{margin-right: 5px;}
.ml15{margin-left: 15px;}
.ml60{margin-left: 60px;}
.ml10{margin-left: 10px;}
.ml5{margin-left: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt40{margin-top: 40px;}
.star{color: #FC5437;font-weight: bold;}
.pl10{padding-left: 10px;}
.w100{width: 100%;}
.z{z-index: 10000;}
.tLeft{
    text-align: left;
}
.tCenter{
  text-align: center;
}
.tRight{
  text-align: right;
}
.white{background-color: #fff !important;}
.icons{
  background-image: url("../../source/images/index.png");
  background-repeat: no-repeat;
  display: inline-block; *zoom: 1;*display: inline-block;
}
  .icon-home{
    width: 16px;
    height: 16px;
    background-position: 0px 0px;
  }
  .icon-WeChat{
    width: 16px;
    height: 16px;
    background-position: -16px 0px;
  }
  .icon-MicroBlog{
    width: 16px;
    height: 16px;
    background-position: -32px 0px;
  }
  .icon-invest{
    width: 48px;
    height: 52px;
    background-position: 0px -16px;
  }
  .icon-revenue{
    width: 48px;
    height: 52px;
    background-position: -48px -16px;
  }
  .icon-user{
    width: 48px;
    height: 52px;
    background-position: -96px -16px;
  }
  .icon-account{
      width: 18px;
      height: 19px;
      background-position: -48px 0px;
  }
  .icon-pwd{
      width: 18px;
      height: 19px;
      background-position: -66px 0px;
  }
  .icon-error{
    width: 18px;
    height: 16px;
    background-position: -83px 0px;
    vertical-align: text-bottom;
    margin: 0px 6px;
  }
  .icon-right{
    width: 18px;
    height: 16px;
    background-position: -99px 0px;
    vertical-align: text-bottom;
    margin: 0px 6px;
  }
  .icon-headPortrait{
      width: 68px;
      height: 66px;
   background-position: -1px -69px;
  }
  .icon-identityIDCard{
      width: 32px;
      height: 32px;
      background-position: -135px -69px;
  }
  .icon-identityPhone{
      width: 33px;
      height: 32px;
      background-position: -103px -69px;
  }
.icon-identityBankCard{
    width: 33px;
    height: 32px;
    background-position: -71px -69px;
}
.icon-done{
    width: 13px;
    height: 13px;
    background-position: -71px -101px;
    position: absolute;
    bottom: 2px;
    left: 18px;
}
/*控件*/
.password,.mail{
  width: 322px;
  position: relative;
}
.mail .icon-account{
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.password .icon-pwd{
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/*header-top*/
.top{
  height: 60px;
  background-color: #CDCECE;
}
.topMain{
  width: 1100px;
  height: 40px;
  margin: 0px auto;
  background-color:#E6E8E7;
  font-size: 13px;
  color: #282828;
  padding: 0px 50px;
}
.topCon{
  padding:0px 20px;
  line-height: 40px;
}
.topLogin{
  line-height: 40px;
  float: left;
}
.topLogin span{
  margin-right: 15px;
}
.home{
  height: 40px;
  margin-right: 10px;
  padding: 2px 0px;
  float: left;
}
.topEnter{
  line-height: 40px;
  float: right;
}
.topEnter .brokenBar{
  margin: 0px 10px;
  height: 25px;
  width: 1px;
  color: #4EC0EC;
}
.share{
  height: 40px;
  margin-left:43px;
  padding: 2px 0px;
  float: right;
}
.share span{
  margin: 0px 4px;
}
/*header-top*/
/*header-nav*/
.nav{
  height: 80px;
  background-color: #24B1E8;
}
.navMain{
  width: 1100px;
  height: 80px;
  margin: 0px auto;
  background-color:#4EC0EC;
  font-size: 18px;
  padding: 0px 50px;
  position: relative;
  top: -20px;
}
.navCon{
  padding:20px 20px 0px 20px;
}
div.nav-tab{
  float: right;
  padding-right: 25px;
}
a.nav-tab{
  width: 100px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px ;
  color: #fff;
  text-shadow:-2px 1px 1px #3E9ABD;
}
a.nav-tab:hover{
  background-color: #fff;
  color: #24B1E8;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px ;
  text-shadow: -1px 1px 1px #A3D8F3;
  box-shadow: -3px -1px 1px 0px #3686A5;
  text-decoration: none;
}
a.nav-tab:active{
  background-color: #fff;
  color: #24B1E8;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px ;
  text-shadow: -1px 1px 1px #A3D8F3;
  box-shadow: -3px -1px 1px 0px #3686A5;
  text-decoration: none;
}
.shadow-left{
  width: 50px;
  position: relative;
  top: 60px;
  left: -50px;
  background-color:transparent;
  border-top: 10px solid #1D8EBA;
  border-right: 25px solid #1D8EBA;
  border-left: 25px solid #24B1E8;
  border-bottom: 10px solid #24B1E8;
}
.shadow-right{
  width: 50px;
  position: relative;
  top: 40px;
  right: -1000px;
  background-color:transparent;
  border-top: 10px solid #1D8EBA;
  border-right: 25px solid #24B1E8;
  border-left: 25px solid #1D8EBA;
  border-bottom: 10px solid #24B1E8;
}
/*header-nav*/
/*footer*/
.footer{
  height: 250px;
  background-color: #C6C5C3;
}
/*footer*/
.active {
	background:#F7FAFB;
}

.tab_menu_active {
	background:#4EC0EC;
}
/*footer*/